# Multiple Linear Regression

In [42]:
import numpy as np
import pandas as pd

In [43]:
dataset=pd.read_csv("D:\Datasets\HousePrice.csv")
dataset

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0.0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,NaN,0.0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,NaN,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,NaN
3,NaN,0.0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1.0,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Owner,0.0,0,3,BHK,2500.000000,1,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Owner,0.0,0,2,BHK,769.230769,1,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29448,Dealer,0.0,0,2,BHK,1022.641509,1,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
29449,Owner,0.0,0,2,BHK,927.079009,1,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
29450,Dealer,0.0,1,2,BHK,896.774194,1,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

In [44]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29449 non-null  object
 1   UNDER_CONSTRUCTION     29450 non-null  float64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29447 non-null  float64
dtypes: float64(5), int64(4), object(3)
memory usage: 2.7+ MB

In [45]:
dataset.isnull().sum()

POSTED_BY                2
UNDER_CONSTRUCTION       1
RERA                     0
BHK_NO.                  0
BHK_OR_RK                0
SQUARE_FT                0
READY_TO_MOVE            0
RESALE                   0
ADDRESS                  0
LONGITUDE                0
LATITUDE                 0
TARGET(PRICE_IN_LACS)    4
dtype: int64

In [46]:
dataset.isnull().any()

POSTED_BY                 True
UNDER_CONSTRUCTION        True
RERA                     False
BHK_NO.                  False
BHK_OR_RK                False
SQUARE_FT                False
READY_TO_MOVE            False
RESALE                   False
ADDRESS                  False
LONGITUDE                False
LATITUDE                 False
TARGET(PRICE_IN_LACS)     True
dtype: bool

In [47]:
fn=dataset["UNDER_CONSTRUCTION"].mean()
fn

0.1797623089983022

In [48]:
a=dataset["UNDER_CONSTRUCTION"].fillna(fn,inplace=True)
a

In [49]:
dataset.isnull().sum()

POSTED_BY                2
UNDER_CONSTRUCTION       0
RERA                     0
BHK_NO.                  0
BHK_OR_RK                0
SQUARE_FT                0
READY_TO_MOVE            0
RESALE                   0
ADDRESS                  0
LONGITUDE                0
LATITUDE                 0
TARGET(PRICE_IN_LACS)    4
dtype: int64

In [50]:
dataset["UNDER_CONSTRUCTION"].unique()

array([0.        , 0.17976231, 1.        ])

In [51]:
dataset["UNDER_CONSTRUCTION"].value_counts()

0.000000    24156
1.000000     5294
0.179762        1
Name: UNDER_CONSTRUCTION, dtype: int64

In [52]:
x=dataset.iloc[:,[1,2,3,5,6,7]].values
y=dataset.iloc[:,-1].values

In [53]:
x

array([[0.00000000e+00, 0.00000000e+00, 2.00000000e+00, 1.30023641e+03,
        1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 2.00000000e+00, 1.27500000e+03,
        1.00000000e+00, 1.00000000e+00],
       [1.79762309e-01, 0.00000000e+00, 2.00000000e+00, 9.33159722e+02,
        1.00000000e+00, 1.00000000e+00],
       ...,
       [0.00000000e+00, 0.00000000e+00, 2.00000000e+00, 1.02264151e+03,
        1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 2.00000000e+00, 9.27079009e+02,
        1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00, 2.00000000e+00, 8.96774194e+02,
        1.00000000e+00, 1.00000000e+00]])

In [54]:
y

array([55. , 51. ,  nan, ..., 27.1, 67. , 27.8])

In [55]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.02,random_state=11)

In [56]:
from sklearn.linear_model import LinearRegression
l1=LinearRegression()
l1.fit(x_train,y_train)

LinearRegression()

In [57]:
y_pred=l1.predict(x_test)
y_pred

array([198.45809186, -10.64858259, 152.52663167, ..., 119.74638493,
       167.37406453,  57.6873976 ])

In [58]:
x_test

array([[0.00000000e+00, 0.00000000e+00, 4.00000000e+00, 2.20000000e+03,
        1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 4.05629139e+02,
        1.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 1.00000000e+00, 3.00000000e+00, 1.37804318e+03,
        1.00000000e+00, 1.00000000e+00],
       ...,
       [0.00000000e+00, 0.00000000e+00, 3.00000000e+00, 1.41420032e+03,
        1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 3.00000000e+00, 1.56596633e+03,
        0.00000000e+00, 1.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 2.00000000e+00, 9.75292588e+02,
        1.00000000e+00, 1.00000000e+00]])

In [59]:
y_test

array([110. ,  14.7, 300. , ...,  97. , 120. ,  30. ])